.row {
  text-align: center;
  background-image: ;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: -30px;
  margin-bottom: -40px;
}